body {
	max-width: 100% !important;
}

/* Header stuff */

/* Navigation stuff */

.navbar, .navbar-default, .container-fluid {
	background-color: #243045;
}

.navbar  {
	min-height: 0px;
	margin-bottom: 0px;
	border: 0px;
	border-top: 2px solid black;
}

.nav-pills {
	display: inline-block;
	margin-bottom: 0px;
	padding-top: 5px;
}
	.nav-pills > li {
		margin-right: 15px;
	}
		/* Note: the reason why there is nav-pills and navbar-nav is because
		   the mobile version of the site uses navbar-nav and the tablet and bigger versions
		   use nav-pills */
		.nav-pills > li > a,
		.navbar-nav > li > a {
			border: 1px solid black;
			background-color: white;
			color: black !important;
			font-weight: bold;
		}
			.nav-pills > li > a:hover,
			.navbar-nav > li > a:hover {
				background-color: gray !important;
				color: white !important;
			}
			
			/* Current page */
			.nav-pills > li.active > a,
			.navbar-nav > li.active > a
			 {
				background-color: #2e5cb8 !important;
				color: white !important;
			}
			.nav-pills > li.active > a {
				border: 4px solid white
			}

			.navbar-nav > li.active > a {
				background-image: none !important;
			}
				.nav-pills > li.active > a:hover,
				.navbar-nav > li.active > a:hover {
					background-color: gray !important;
				}


/* Footer stuff */

footer {
	position: relative;
	height: 8vh;
	bottom: 0;
	margin-top: 20px;
	width: 100%;
	background-color: #243045;
	border-top: 2px solid black;
	color: white;
}
	footer p {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		padding-left: 10px;
	}
		footer p span {
			padding-right: 20px;
			float: right;
		}

/* Media queries */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	/* Put the mobile hamburger menu on the left side */
	.navbar-toggle {
		float: left;
	}

	/* The mobile header */
	.navbar-header > div {
		text-align: center;
	}

	/* Switch tablet/desktop login buttons with mobile version */
	#smallButton {
		display: inline-block;
		float: right;
	}
	#smallLogout {
		margin-top: 6px;
	}
	#bigButton {
		display: none;
	}


}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.navbar-header > div {
		display: none;
	}

	/* Make each item in the navbar a circle */
	.nav-pills > li > a {
		width: 95px;
		height: 90px;
		border-radius: 50%;
		display: table;
	}

		/* Center icon and text in the circle */
		.nav-pills > li > a > div {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 0.7em;
		}
			/* Increase size of icon and put it on its own line */
			.nav-pills > li > a > div > i {
				font-size: 3em;
				padding-bottom: 2px;
				display: block;
			}

	
	/* Switch mobile login buttons with tablet/desktop version */
	#smallButton {
		display: none;
	}
	#bigButton {
		display: inline-block;
		margin-top: 33px;
		margin-right: 10px;
	}
		#bigButton #bigLogout {
			margin-top: 0px;
		}
	#bigSignInButton {
		width:150px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/* Set items in the navbar to the pill format */
	.nav-pills > li > a {
		border-radius: 4px;
		height: 46px;
		width: 110px;
		display: table;
	}
		.nav-pills > li > a > div {
			display: table-cell;
			text-align: center;
			font-size: 0.8em;
			vertical-align: middle;
		}

			/* Remove icons in desktop view */
			.nav-pills > li > a > div > i {
				display: none;
			}

	.navbar-right > li {
		margin-bottom: 10px;
		vertical-align: middle;
	}

	#bigButton {
		margin-top: 0px;
		margin-right: 0px;
	}
		#bigButton #bigLogout {
			margin-top: 10px;
		}
	#bigSignInButton {
		width: 191px;
		margin-top: 5px;
	}

}