.main-image {
	background:url('../imgs/ezcaba.jpg');
	opacity: 0.9;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	display: table;
	font-weight: bold;
}
	.main-image h1 {
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		color: white;
	}

#index-body {
	color: black;
	text-align: center;
}

#intro {
	margin: 5% 3% 3% 3%;
}

#section-container {
	margin-top: 5%;
	margin-bottom: 5%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 5%;
	padding-bottom: 7%;
	height: 100%;
}

#section-header {
	margin-bottom: 3%;
}

#section {
	margin-left: 2%;
	margin-right: 2%;
	height: 100%;
}

	#section > div > a {
		position: relative;
		text-decoration: none;
		color: black;
		min-height: 100%;
	}
	#section > div > a:visited {
		color: black;
	}
		#section > div > a > div {
			border: 1px solid black;
			margin-left: 2%;
			font-weight: bold;
		}
			#section > div > a:hover > div {
				background-color: black;
				color: white;
			}
				#section > div > a > div > div{
					margin-bottom: 2%;
				}
				#section > div > a > div > p{
					margin: 2%;
					font-weight: normal;
				}

				#section> div > a > div > div > i {
					display: block;
					font-size: 4em;
				}

/* Media queries */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.main-image {
		min-height: 50vh;
	}
		.main-image h1 {
			font-size: 3em;
		}

	#section > div {
		margin-bottom: 5%;
	}

}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main-image {
		min-height: 100vh;
	}
		.main-image h1 {
			font-size: 4em;
		}

	#intro, #section-header {
		font-size: 2em;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-image h1 {
		font-size: 6em;
	}

	#section > div {
		margin-bottom: 0;
	}
}