.main-image {
	width: 100%;
	display: table;
	font-weight: bold;
}
	.main-image h1 {
		vertical-align: middle;
		display: table-cell;
		text-align: center;
	}

#places-intro {
	margin-top: 8vh;
	text-align: center;
	margin-bottom: 8vh;
}
	#places-intro h2{
		margin-top: 0;
	}

#places-body h3 {
	display: inline-block;
	margin-right:0;
	margin-top: 0;
}

#places-body img {
	width:100%;
	min-height:213.172px;
	margin-bottom: 40px;
}


.twitter-share-button {
	float: right;
}

/* Media queries */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.main-image {
		min-height: 50vh;
		background:url('../imgs/houses.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
	}
		.main-image h1 {
			font-size: 4em;
		}

	.row div {
		margin-left: 5vh;
		margin-right: 5vh;
		max-width: 90%;
	}

}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main-image {
		min-height: 100vh;
		background:url('../imgs/hill.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	    -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
	    filter: brightness(100%);
		color: white;
	}
		.main-image h1 {
			font-size: 5em;
		}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-image {
		background:url('../imgs/buildings.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: black;
	}
	
	.row {
		margin-left: 1vh;
		margin-right: 1vh;
	}
		.row div {
			margin-left: 0vh;
			margin-right: 0vh;
			max-width: 100%;
		}
}