/* Only display this div for the tablet/desktop views */
.page-header {
	display: none;
	text-align: center;
	border: 0px;
	margin: 0px;
}
	.page-header > h1 {
		font-size: 50px;
	}

/* Navigation stuff */

.navbar {
	min-height: 0px;
}

/* Put the mobile hamburger menu on the left side */
.navbar-toggle {
	float: left;
}

/* The mobile header */
.navbar-header > div {
	text-align: center;
}

	.navbar-header > div > span {
		font-size: 34px;
	}

	.navbar-header > div > a > img {
		float: right;
		margin-right: 5px;
	}
/*					 */

.nav-pills > li > a {
	border: 1px solid black;
	color: black;
	background-color: white;
	font-weight: bold;
}
	.nav-pills > li.active > a {
		background-color: black;
	}
		.nav-pills > li.active > a:hover {
			background-color: red;
		}


/* Footer stuff */

footer {
	position: relative;
	height: 60px;
	bottom: 0px;
	margin-top: 20px;
	background-color: #FAFAFA;
	border: 1px solid #E7E7E7;
	width: 100%;
}
	footer p {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding-left: 4px;
		font-size: 20px;
	}

/* Media queries */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/* Make the page header visible */
	.page-header {
		display: block;
	}

	.navbar-header > div {
		display: none;
	}

	/* Make each item in the navbar a circle */
	.nav-pills > li > a {
		width: 115px;
		height: 115px;
		border-radius: 50%;
	}

		/* Center icon and text in the circle */
		.nav-pills > li > a > div {
			margin-top: 15px;
			margin-bottom: 15px;
		}
			/* Increase size of icon and put it on its own line */
			.nav-pills > li > a > div > i {
				font-size: 3em;
				display: block;
			}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/* Set items in the navbar to the pill format */
	.nav-pills > li > a {
		border-radius: 4px;
		height: 40px;
		width: 143px;
	}
		.nav-pills > li > a > div {
			margin-top: 0px;
			margin-bottom: 0px;
		}

			/* Remove icons in desktop view */
			.nav-pills > li > a > div > i {
				display: none;
			}
}