{% extends "templates/base.html" %}

{% block content %} 
	<p>My name is Ali Abdulhamid, and I am a student at the University of Michigan! Here are a few facts about myself:</p>
	<ul>
		<li>Computer Science major</li>
		<li>From Farmington Hills, Michigan</li>
		<li>Favorite color is <span style="color: blue">BLUE</span></li>
		<li>Favorite food is pizza</li>
		<li>I have four siblings and one bird</li>
	</ul>

	<p>Here is a picture of me!</p>
	<img src="static/ali.jpg" width="500" alt="Ali"/>
{%endblock%}