{% extends "templates/base.html" %}

{% block head %}
<!-- My about stylesheet -->
<link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block content %} 
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>About Me</h1>
            </div>
            <div class="col-sm-12">
                <img src="static/imgs/about.jpg" />
            </div>
        </div>
      </div>
</div>

<div class="about-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Background</h2>
				<p>I am 21 years old from Farmington Hills, Michigan, where I lived for almost my entire life before coming to the University of Michigan. I grew up with 4 siblings - 3 sisters and 1 brother - and a pet cockatiel. </p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Academics</h2>
				<p>My major at the University of Michigan is Computer Science. So far, I have taken classes on several different topics in the field, including database design, user interface development, and operating systems. Programming languages that I have learned include C++, Python, SQL, HTML/CSS, and JavaScript (including AngularJS and JQuery).</p>
				<p>In addition to my technical background, I have devoted much of my time in school to learning about international issues. I have a minor in International Engineering, which allowed me to develop strategies on dealing with engineering projects across different countries and cultures. Through this program, I also had the opportunity to study abroad in Spain for six weeks, and I have taken classes dealing with Spanish language and culture. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Work Experience</h2>
				<h3>X by 2</h3>
				<p>X by 2 is a consulting company in Farmington Hills that works with health care and insurance companies in the Metro Detroit area to design and maintain their software. I interned there from May until August 2015, where I worked on revamping the employee task tracking system. I created a front-end framework that was primarily written in AngularJS (with a bit of JQuery), and this project has helped me become comfortable with programming in JavaScript in general.</p>
				<p> Another assignment during my internship was to build a framework that performed metrics on data moving from one place to another. Unlike the task tracking system, this project was designed for one of the comapny's clients. It relied heavily on using databases, so it gave me valuable experience in SQL and database design. </p>
				<h3>Graduate Education Office at the University of Michigan College of Engineering</h3>
				<p>I have worked part-time here as a student staff member since January 2014. One of my responsibilities is planning for major events on campus for prospective students, including the design of event workflows, coordination of lodging and transportation for visitors, and collecting applicant data to repackage it for faculty review. I also help with general data tracking on prospective and current graduate students, as well as organize the finances for the office's events. </p> 
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Extracurriculars</h2>
				<h3>Global Scholars Program (GSP)</h3>
				<p>I joined this living-learning community in North Quad, which focuses on international aid and study, during the 2014-2015 school year. During the 2015-2016 school year, I returned to the program as a Peer Facilitator, where I work alongside a partner to facilitate dialogues and manage projects and assignments for a group of ten first-year GSP students. </p>
				<h3>Model United Nations (MUN)</h3>
				<p>MUN is an organization where students attend conferences around the world that simulate real United Nations summits. My involvement in this group is a continuation from high school, where I attended multiple conferences representing a delegate from a specific country, and I was also the leader of my school's team. The University of Michigan runs its own conference for high school students, and I have staffed and directed several committees during my time with the organization. </p>
				<h3>Eta Kappa Nu (HKN)</h3>
				<p>HKN is an honors society for students around the country who are majoring in Electrical Engineering, Computer Engineering, or Computer Science. I was a pledge for Michigan's chapter during the Fall 2015 semester, where I volunteered at several events for HKN or the Ann Arbor community. As of Winter 2016, I am now a member of the organization.
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Hobbies</h2>
				<p>Outside of school, I enjoy playing tennis, programming, watching shows like <em>Game of Thrones</em> and <em>The Walking Dead</em>, traveling (check out the <a href="/places">Places</a> page on the website), and making movies. More recently, I have taken an interest in improving my Spanish skills, and I now spend time watching Spanish-language movies and television shows.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Favorite Projects</h2>
				<h3>
					<a href="https://play.google.com/store/apps/details?id=com.eecs493.bawk.android">Bawk</a>
				</h3>
				<p>Bawk is an Android app that is based off of the puzzle game Zoop. Players control a chicken that shoots lasers out of its eyes to prevent explosive eggs from encroaching on its nest. I collaborated on this game with other people as part of a final project for my UI class. </p>
				<h3>
					<a href="https://argofrienddate.com">Argo</a>
				</h3>
				<p>Argo is a web platform that sets up students at the University of Michigan on blind friend dates. My group for one of my classes teamed up with the founders of this project to help build the web infrastructure. </p>
				<h3> Daimyo </h3>
				<p>I worked on this project with a group of 4 people at the student-run hackathon mHacks. We developed a motion-based, interactive video game programmed in Unity and using the gesture-based Myo API. </p>
			</div>
		</div>
	</div>
</div>

{%endblock%}