<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Ali Abdulhamid - {{current_page}}</title>

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!--BOOTSTRAP CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- My stylesheet -->
	<link rel="stylesheet" href="static/main.css">

	<!-- My JS file -->
	<script src="static/main.js"></script
	
</head>

<body>
	<header>
		<div class="page-header">
  			<h1>Ali Abdulhamid</h1>
  			<a href="{{logUrl}}">
  				<img id ="bigSignInButton" src="static/signin/btn_google_signin_light_normal_web.png" alt="Google Sign In Button"
  				onload="loginButton('bigSignInButton', 'bigLogout', {{loggedIn}})" onmouseover ="signInMouseOver('bigSignInButton')"
  				onmouseout="signInMouseOut('bigSignInButton')" onmousedown="signInMouseDown('bigSignInButton')"/>
  				<span id="bigLogout">Log out</span>
  			</a>
		</div>

		<nav class="navbar navbar-default">
  			<div class="container-fluid">
			    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        	<span class="icon-bar"></span>
				        	<span class="icon-bar"></span>
				        	<span class="icon-bar"></span> 
			      	  </button>
			      	  <div>
			      	  	<span>Ali Abdulhamid</span>
			      	  	<a href="{{logUrl}}">
			      	  		<img id="smallSignInButton" src="static/signin/btn_google_light_normal_ios.png" alt="Google Sign In Button"
			      	  		onload="loginButton('smallSignInButton', 'smallLogout', {{loggedIn}})" onmouseover = "signInMouseOver('smallSignInButton')" onmouseout="signInMouseOut('smallSignInButton')"
			      	  		onmousedown="signInMouseDown('bigSignInButton')"/>
			      	  	</a>
			      	  	<span id="smallLogout">Log out</span>
			      	  </div>
			    </div>
    			<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav nav-pills nav-justified">
				        <li class="{% if current_page == 'INDEX' %}active{% else %}{% endif %}">
				        	<a href="/index">
				        		<div>
				        			<i class="fa fa-home"></i>
				        			<span>HOME</span>
				        		</div>
				        	</a>
				        </li>
				        <li class="{% if current_page == 'ABOUT' %}active{% else %}{% endif %}">
				        	<a href="/about">
				        		<div>
				        			<i class="fa fa-info"></i>
				        			<span>ABOUT</span>
				        		</div>
				        	</a>
				        </li>
				        <li class="{% if current_page == 'PLACES' %}active{% else %}{% endif %}">
				        	<a href="/places">
				        		<div>
				        			<i class="fa fa-globe"></i>
				        			<span>PLACES</span>
				        		</div>
				        	</a>
				        </li>
				        <li class="{% if current_page == 'CONTACT' %}active{% else %}{% endif %}">
				        	<a href="/contact">
				        		<div>
				        			<i class="fa fa-envelope-o"></i>
				        			<span>CONTACT</span>
				        		</div>
				        	</a>
				        </li>
				        <li class="{% if current_page == 'GUESTBOOK' %}active{% else %}{% endif %}">
				        	<a href="/guestbook">
				        		<div>
				        			<i class="fa fa-book"></i>
				        			<span>GUESTBOOK</span>
				        		</div>
				        	</a>
				        </li>
      				</ul>
    			</div>
  			</div>
		</nav>
	</header>


	{% block content %}
	Each page should be putting its unique content here.
	{% endblock %}

	
	<footer>
		<p>Copyright &copy; 2016 Ali Abdulhamid.&nbsp; 
			<a href = "http://www.umich.edu">Go Blue!</a>
		</p>
	</footer>
	
</body>
</html>