<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ali Abdulhamid - {{current_page}}</title>

	<!--BOOTSTRAP CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</head>

<body>
	<header>
		{% block head %}
		Each page should be putting its unique h1 tag here.
		{% endblock %}
		
		<ul class="nav nav-pills" role="navigation">
  			<li role="presentation"><a href="index">{% if current_page == "INDEX" %}INDEX{% else %}Index{% endif %}</a></li>
  			<li role="presentation"><a href = "about">{% if current_page == "ABOUT" %}ABOUT{% else %}About{% endif %}</a></li>
  			<li role="presentation"><a href = "places">{% if current_page == "PLACES" %}PLACES{% else %}Places{% endif %}</a></li>
  			<li role="presentation"><a href = "contact">{% if current_page == "CONTACT" %}CONTACT{% else %}Contact{% endif %}</a></li>
		</ul>
	</header>


	{% block content %}
	Each page should be putting its unique content here.
	{% endblock %}
	<footer>
		<p>Copyright &copy; 2016 Ali Abdulhamid.&nbsp; <a href = "http://www.umich.edu">Go Blue!</a></p>
	</footer>
	
</body>
</html>