{% extends "templates/base.html" %} 

{% block head %}
<!-- My places stylesheet -->
<link rel="stylesheet" href="static/css/places.css">
{% endblock %}

{% block content %} 
	<h1> Places </h1>
	<p>Welcome to the Places page! Here, you will find pictures of my favorite places I have been in the world.</p>
	
	<div id="places-body">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Ann Arbor</h3>
				<img src="static/imgs/aa.jpeg" class="img-responsive"  alt="Ann Arbor"/>
				<!-- Code for the Twitter Button. Button simply tweets the image. Each image has its respective button -->
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/FtegM9tY6g"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>San Francisco</h3>
				<img src="static/imgs/sf.png" class="img-responsive" alt="San Francisco"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/PCIJr8nTD7"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>New York</h3>
				<img src="static/imgs/ny.jpg" class="img-responsive" alt="New York"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/M9Z759prnB"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Barcelona</h3>
				<img src="static/imgs/barcelona.jpg" class="img-responsive" alt="Barcelona"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/gG4dAgF5y0"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>San Sebastián</h3>
				<img src="static/imgs/ss.jpg" class="img-responsive" alt="San Sebastián"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/bS0jeBdWDQ"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Pamplona</h3>
				<img src="static/imgs/pamplona.jpg" class="img-responsive" alt="Pamplona"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/AtxmxuKp5J"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Niagara Falls</h3>
				<img src="static/imgs/niagara.jpg" class="img-responsive" alt="Niagara Falls"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/8b1lMY088j"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Bellevue</h3>
				<img src="static/imgs/bellevue.jpg" class="img-responsive" alt="Bellevue"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/6zTXsoJmR4"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Shahat (in Libya)</h3>
				<img src="static/imgs/shahat.jpg" class="img-responsive" alt="Shahat"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/IhvZJxyljD"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Tahquomenon Falls</h3>
				<img src="static/imgs/tahquomenon.jpg" class="img-responsive" alt="Tahquomenon Falls"/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/YxrsSoJhLp"data-size="large">Tweet</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
		</div>
	</div>

{%endblock%}