{% extends "templates/base.html" %} 

{% block content %} 
	<p>Welcome to the Places page! Here, you will find pictures of my favorite places I have been in the world.</p>

	<h3>Ann Arbor</h3>
	<img src="static/aa.jpeg" width="300" alt="Ann Arbor"/>

	<h3>San Francisco</h3>
	<img src="static/sf.png" width="300" alt="San Francisco"/>

	<h3>New York</h3>
	<img src="static/ny.jpg" width="500" alt="New York"/>

	<h3>Barcelona</h3>
	<img src="static/barcelona.jpg" width="500" alt="Barcelona"/>

	<h3>San Sebastián</h3>
	<img src="static/ss.jpg" width="500" alt="San Sebastián"/>



{%endblock%}