{% extends "templates/base.html" %} 

{% block head %}
<!-- My places stylesheet -->
<link rel="stylesheet" href="static/css/places.css">
{% endblock %}

{% block content %} 
	<div class="main-image">
		<h1>Places</h1>
	</div>
	
</header>
		
<div id="places-body">
	<div class="row" id="places-intro">
		<div class="col-xs-12">
			<h2>Welcome to the Places page!</h2> 
			Here are some pictures I took of different places I have been to around the world. Feel free to share the pictures on using the twitter button if you like them!
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Ann Arbor</h3>
			<!-- Code for the Twitter Button. Button simply tweets the image. Each image has its respective button -->
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/GUVM09Opu7" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/aa.jpeg" class="img-responsive"  alt="Ann Arbor"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>San Francisco</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/6UbF2NTLiQ" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/sf.png" class="img-responsive" alt="San Francisco"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>New York</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/M9Z759prnB" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/ny.jpg" class="img-responsive" alt="New York"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Barcelona</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/gG4dAgF5y0" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/barcelona.jpg" class="img-responsive" alt="Barcelona"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>San Sebastián</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/bS0jeBdWDQ" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/ss.jpg" class="img-responsive" alt="San Sebastián"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Pamplona</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/AtxmxuKp5J" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/pamplona.jpg" class="img-responsive" alt="Pamplona"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Niagara Falls</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/8b1lMY088j" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/niagara.jpg" class="img-responsive" alt="Niagara Falls"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Bellevue</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/6zTXsoJmR4" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/bellevue.jpg" class="img-responsive" alt="Bellevue"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Tahquamenon</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/YxrsSoJhLp" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/tahquomenon.jpg" class="img-responsive" alt="Tahquomenon Falls"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Shahat (in Libya)</h3>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="pic.twitter.com/IhvZJxyljD" data-size="large">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<img src="static/imgs/shahat.jpg" class="img-responsive" alt="Shahat"/>
		</div>
	</div>
</div>

{%endblock%}